<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hg.system.mapper.HwPlanMapper">

    <resultMap type="com.hg.system.domain.HwPlan" id="HwPlanResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="affiliation"    column="affiliation"    />
        <result property="planYear"    column="plan_year"    />
        <result property="fillPeriod"    column="fill_period"    />
        <result property="replyCharacter"    column="reply_character"    />
    </resultMap>


    <resultMap type="com.hg.system.domain.HwPlan" id="HwPlanAllResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="affiliation"    column="affiliation"    />
        <result property="planYear"    column="plan_year"    />
        <result property="fillPeriod"    column="fill_period"    />
        <result property="replyCharacter"    column="reply_character"    />
        <result property="totalFunds"    column="total_funds"    />
        <result property="numberItems"    column="number_items"    />
    </resultMap>

    <sql id="selectHwPlanVo">
        select id, name, type, affiliation, plan_year, fill_period, reply_character from hw_plan
    </sql>

    <select id="selectHwPlanListAll" parameterType="com.hg.system.domain.HwPlan" resultMap="HwPlanAllResult">
        SELECT * FROM
            (
                SELECT
                    `id`,t1.`name`,`type`,`affiliation`,`plan_year`,`fill_period`,`reply_character`,
                    (SELECT COUNT(t2.`id`) FROM `hw_plan_item` AS t2 WHERE t1.`id`=t2.`plan_id`) AS number_items
                FROM
                    `hw_plan` AS t1

            ) a
                LEFT JOIN
            (
                SELECT `plan_id`,SUM(`contract_capital`) AS total_funds FROM `hw_plan_item` GROUP BY `plan_id`
            ) b
            ON a.id=b.plan_id
    </select>
    
    
    <select id="selectHwPlanList" parameterType="com.hg.system.domain.HwPlan" resultMap="HwPlanResult">
        <include refid="selectHwPlanVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="affiliation != null "> and affiliation = #{affiliation}</if>
            <if test="planYear != null  and planYear != ''"> and plan_year = #{planYear}</if>
            <if test="fillPeriod != null "> and fill_period = #{fillPeriod}</if>
            <if test="replyCharacter != null  and replyCharacter != ''"> and reply_character = #{replyCharacter}</if>
        </where>
    </select>
    
    <select id="selectHwPlanById" parameterType="long" resultMap="HwPlanResult">
        <include refid="selectHwPlanVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHwPlan" parameterType="com.hg.system.domain.HwPlan" useGeneratedKeys="true" keyProperty="id">
        insert into hw_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null">type,</if>
            <if test="affiliation != null">affiliation,</if>
            <if test="planYear != null and planYear != ''">plan_year,</if>
            <if test="fillPeriod != null">fill_period,</if>
            <if test="replyCharacter != null and replyCharacter != ''">reply_character,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="affiliation != null">#{affiliation},</if>
            <if test="planYear != null and planYear != ''">#{planYear},</if>
            <if test="fillPeriod != null">#{fillPeriod},</if>
            <if test="replyCharacter != null and replyCharacter != ''">#{replyCharacter},</if>
         </trim>
    </insert>

    <update id="updateHwPlan" parameterType="com.hg.system.domain.HwPlan">
        update hw_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="affiliation != null">affiliation = #{affiliation},</if>
            <if test="planYear != null and planYear != ''">plan_year = #{planYear},</if>
            <if test="fillPeriod != null">fill_period = #{fillPeriod},</if>
            <if test="replyCharacter != null and replyCharacter != ''">reply_character = #{replyCharacter},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHwPlanById" parameterType="long">
        delete from hw_plan where id = #{id}
    </delete>

    <delete id="deleteHwPlanByIds" parameterType="string">
        delete from hw_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>